<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeradpas.calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MasseConverter"
            android:label="@string/masse"
            android:screenOrientation="portrait"/>
        <activity android:name=".CurrencyConverter"
            android:label="@string/devise"
            android:screenOrientation="portrait"/>
        <activity android:name=".TemperatureConverter"
            android:label="@string/temperature"
            android:screenOrientation="portrait"/>
        <activity android:name=".LengthConverter"
            android:label="@string/longueur"
            android:screenOrientation="portrait"/>
        <activity android:name=".Imc"
            android:label="@string/imc"
            android:screenOrientation="portrait"/>
        <activity android:name=".VolumeConverter"
            android:label="@string/volume"
            android:screenOrientation="portrait"/>
        <activity android:name=".SurfaceConverter"
            android:label="@string/surface"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AfficheMessage"
            android:label="@string/title_activity2"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>